doctype html
html(lang="en")
    head    
        title Admin Dashboard
        meta(charset="utf-8")
    body
        header
            h1 Social
        main
            p Admin dashboard
        footer Ess_Ess
