doctype html
html(lang="en")
    head    
        title= index
        meta(charset="utf-8")
    body
        header
            h1 Social
        main
            form.social-form(name="login-form")
                div.form-field
                    label(for="user") Username
                    input#user(type="text")
                div.form-field
                    label(for="pass") Password
                    input#pass(type="password")
                div.btn-wrap
                    button.btn-def.btn-login Login
        footer Ess_Ess
        script(src="scripts/common.js")
        script(src="scripts/login.js")
